In [17]:
import pandas as pd
from sqlalchemy import create_engine

# Define the database connection URL
server = 'HAIER-PC\SQLEXPRESS'
driver = 'SQL Server'
db = 'cleaning'
table_name = 'MaidBid'

# Create the SQLAlchemy engine
engine = create_engine(f'mssql+pyodbc://{server}/{db}?driver={driver}')


# Defining the data for the new record
data = {
    'Ctype': 'Johny',
    'Building': 'Highwayy 21',
    'name': 'u',
    'type': 'umair',
    'beds': 7,
    'baths': 6,
    'frequency': 'kk'
}

# Create a DataFrame with the new record data
new_record = pd.DataFrame(data, index=[0])

# Insert the new record into the "maidBid" table using SQLAlchemy
new_record.to_sql('MaidBid', con=engine, if_exists='append', index=False)

1

In [19]:
query = 'SELECT * FROM MaidBid'
df = pd.read_sql_query(query, engine)
print(df)

   Ctype     Building      name    type  beds  baths frequency
0  Johny  Highwayy 21         u   umair     7      6        kk
1   John   Highway 21     umair   umair     7      6        kk
2  Johny  Highwayy 21    umairr   umair     7      6        kk
3  Johny  Highwayy 21   umairrj   umair     7      6        kk
4  Johny  Highwayy 21  umairrjj   umair     7      6        kk
5  Johny  Highwayy 21    umairy  umairy     7      6        kk